@charset "UTF-8";

.navigation li a {
    color: #2272BB;
    text-decoration: none;
}

.navigation li.active a {
    color: #80745f;
}

.navbar {
    background-repeat: repeat-x;
    clear: both;
    float: none;
    height: 51px;
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    position: relative;
    z-index: 9999;
}

.nav-trap {
    float: none;
    height: 50px;
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
    background-color: #000;
}

.navigation {
    height: 47px;
    width: 1014px;
    /*background-color: #er4;*/
    display: inline-block;
    margin-top: 0;
    padding-top: 3px;
    padding-left: 10px;
    list-style-type: none;
    position: relative;
    z-index: 9999;
    clip: rect(0,auto,auto,auto);
    margin-bottom: 0;
    padding-bottom: 0;
    cursor: pointer;
}

    .navigation li {
        height: 35px;
        display: inline-block;
        clear: right;
        float: left;
        font-family: Helvetica,Arial,Verdana;
        font-size: 18px;
        margin-right: 8px;
        color: #FFF;
        padding-top: 12px;
    }

        .navigation li a {
            color: #FFF;
            font-family: Helvetica,Arial,Verdana;
            font-size: 18px;
            text-decoration: none;
            padding-top: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
        }

        .navigation li.logo {
            display: inline-block;
            clear: right;
            float: left;
            font-family: Helvetica,Arial,Verdana;
            font-size: 18px;
            margin-right: 290px;
            color: #FFF;
            padding-top: 10px;
        }

    .navigation ul {
        position: absolute;
        display: none;
        padding: 0;
        list-style: none;
        margin-top: 50px;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: -1px;
    }

.active-on {
    background-color: #F90;
    float: left;
    height: 15px;
    width: 100%;
    margin-bottom: 15px;
}

/*
   Navigation Themes
    red, orange, pink, green, blue, purple 
    
    */

.active-on-red {
    background-color: #F00;
    float: left;
    height: 15px;
    width: 100%;
    margin-bottom: 15px;
}

.active-on-orange {
    background-color: #F90;
    float: left;
    height: 15px;
    width: 100%;
    margin-bottom: 15px;
}

.active-on-pink {
    background-color: #F9f;
    float: left;
    height: 15px;
    width: 100%;
    margin-bottom: 15px;
}

.active-on-green {
    background-color: #0C0;
    float: left;
    height: 15px;
    width: 100%;
    margin-bottom: 15px;
    clear: right;
}

.active-on-blue {
    background-color: #00F;
    float: left;
    height: 15px;
    width: 100%;
    margin-bottom: 15px;
}

.active-on-purple {
    background-color: #90F;
    float: left;
    height: 15px;
    width: 100%;
    margin-bottom: 15px;
}

.navigation li.red-active a,
.navigation li.red a:hover {
    color: #FFF;
    background-color: #F00;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
}

.navigation li.orange-active a,
.navigation li.orange a:hover {
    color: #FFF;
    background-color: #F90;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
}

.navigation li.pink-active a,
.navigation li.pink a:hover {
    color: #FFF;
    background-color: #F9F;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
}

.navigation li.green-active a,
.navigation li.green a:hover {
    color: #FFF;
    background-color: #0C0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
}

.navigation li.blue-active a,
.navigation li.blue a:hover {
    color: #FFF;
    background-color: #00F;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
}

.navigation li.purple-active a,
.navigation li.purple a:hover {
    color: #FFF;
    background-color: #90F;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
}


/*.navigation li.red-active {
    color: #FFF;
    background-color: #F00;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 4px;
}

.navigation li.orange-active {
    color: #FFF;
    background-color: #F90;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 4px;
}

.navigation li.pink-active {
    color: #FFF;
    background-color: #F9F;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 4px;
}

.navigation li.green-active {
    color: #FFF;
    background-color: #0C0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 4px;
}

.navigation li.blue-active {
    color: #FFF;
    background-color: #00F;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 4px;
}

.navigation li.purple-active {
    color: #FFF;
    background-color: #90F;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 4px;
}


.navigation li.pink-green {
    color: #FFF;
    background-color: #0C0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 4px;
}


.navigation li.orange-active a:hover {
    color: #FFF;
    background-color: #F90;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 4px;
}


.navigation li.red a:hover {
    color: #FFF;
    background-color: #F00;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
}

.navigation li.orange a:hover {
    color: #FFF;
    background-color: #F90;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
}

.navigation li.pink a:hover {
    color: #FFF;
    background-color: #F9F;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.navigation li.green a:hover {
    color: #FFF;
    background-color: #0C0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.navigation li.blue a:hover {
    color: #FFF;
    background-color: #00F;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.navigation li.purple a:hover {
    color: #FFF;
    background-color: #90F;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}*/


.search li {
    height: 10px;
    display: inline-block;
    clear: right;
    float: left;
    font-family: Helvetica,Arial,Verdana;
    font-size: 18px;
    color: #FFF;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 13px;
}

.navigation li.searchbox {
    height: 17px;
    display: inline-block;
    clear: right;
    float: left;
    font-family: Helvetica,Arial,Verdana;
    font-size: 18px;
    color: #FFF;
    margin-top: 4px;
    background-color: #FFF;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /*width: 170px;*/
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.inquiry {
    border: medium solid #FFF;
    margin-top: -7px;
    font-size: 18px;
    color: #999;
    width: 150px;
}

    .inquiry:focus {
        outline-width: 0;
    }

.btn-submit {
    color: #FFF;
    height: 37px;
    width: 80px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    background-color: #333;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 16px;
    clear: right;
    float: left;
}

    .btn-submit:hover {
        color: #FFF;
        height: 37px;
        width: 80px;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
        background-color: #390;
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomright: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

.btn-submit-square {
    color: #FFF;
    height: 37px;
    width: 80px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    background-color: #333;
    font-size: 16px;
    clear: right;
    float: left;
}

    .btn-submit-square:hover {
        color: #FFF;
        height: 37px;
        width: 80px;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
        background-color: #390;
    }

.navigation li.searchbtn {
    margin-top: -8px;
    margin-left: -8px;
}

.navigation li.drorange-active {
    color: #FFF;
    background-color: #C60;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 4px;
}

.navigation li.drpink-active {
    color: #FFF;
    background-color: #C6F;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 4px;
}

.navigation li.drgreen-active {
    color: #FFF;
    background-color: #690;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 4px;
}

.navigation li.drblue-active {
    color: #FFF;
    background-color: #009;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 4px;
}

.navigation li.drpink-green {
    color: #FFF;
    background-color: #660;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 4px;
}

.navigation li.drred-active {
    color: #FFF;
    background-color: #900;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 4px;
}

.navigation li.a1-active {
    color: #FFF;
    background-color: #009;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 4px;
}

.navigation li.a2-active {
    color: #FFF;
    background-color: #06F;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 4px;
}

.navigation li.a3-active {
    color: #FFF;
    background-color: #36C;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 4px;
}

.navigation li.a4-active {
    color: #FFF;
    background-color: #3CF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 4px;
}

.navigation li.a5-active {
    color: #FFF;
    background-color: #09C;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 4px;
}

.navigation li.b1-active {
    color: #FFF;
    background-color: #63F;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 4px;
}

.navigation li.b2-active {
    color: #FFF;
    background-color: #90C;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 4px;
}

.navigation li.b3-active {
    color: #FFF;
    background-color: #696;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 4px;
}

.navigation li.b4-active {
    color: #FFF;
    background-color: #C69;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 4px;
}

.navigation li.b5-active {
    color: #FFF;
    background-color: #963;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 4px;
}

#adminmenu .level3,
#adminmenu .level4 {
    font-size: 10pt;
    /*height: 20px;*/
}

#adminmenu ul.dynamic .level3,
#adminmenu ul.dynamic .level4 {
    padding-bottom: 0;
}

#adminmenu li .level3 a/*,
#adminmenu li .level4 a */{
    height: 20px;
    margin-top: 8px;
    margin-bottom: 0;
    padding-top: 8px;
    padding-bottom: 0;
}

#adminmenu .navigation li {
    height: 26px;
    }

#adminmenu ul.navigation li ul.level3 {
    padding-top: 12px;
}
/*
#adminmenu ul.navigation li ul.level4 {
    padding-top: 0;
}
    */

