.number_slideshow {
    line-height: 20px;
    font-size: 11px;
    font-family: Arial,Helvetica,sans-serif;
    padding: 0;
    margin: 0;
    position: relative;
}

    .number_slideshow .number_slideshow_nav {
        filter: alpha(opacity=60);
        opacity: 0.6;
        padding: 0;
        margin: 0;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

        .number_slideshow .number_slideshow_nav li {
            box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
            -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
            -moz-box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
            -o-box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
            -khtml-box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
            margin-left: 6px;
            position: relative;
            float: left;
        }

            .number_slideshow .number_slideshow_nav li a {
                padding-left: 8px;
                padding-right: 8px;
            }

    .number_slideshow ul {
        margin: 0;
        background-position: center center;
        background-repeat: no-repeat;
    }

        .number_slideshow ul li {
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -o-border-radius: 5px;
            -khtml-border-radius: 5px;
            padding: 0;
            margin: 0;
            list-style: none;
            position: absolute;
        }

            .number_slideshow ul li p {
                margin: 0;
                position: absolute;
                top: 0;
                left: 0;
                padding-left: 5px;
                padding-right: 5px;
                filter: alpha(opacity=60);
                opacity: 0.6;
                font-size: 13px;
                line-height: 23px;
            }

            .number_slideshow ul li a {
                text-decoration: none;
            }

                .number_slideshow ul li a img {
                    border: none;
                    height: 272px;
                    width: 520px;
                }
